/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75); /* @include <@mixin>. this @mixin is found in minima.scss*/
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */

/* the backdrop. big rectangle at the back.
 * will not typically show on mobile devices, since their screens are so small
 */
 .post-body {
  line-height: 24px;
  color: #222;
  background: #e8e6e3;
  background-image: url("images/background.png");
}

/* the actual "book page", where all the info, nav, and sidebar actually sits on
 * the big column in the middle. also controls where to place it
 */
.post-div-main {
  background: #fbfaf8;
  max-width: 640px;
  margin: 0 auto;
  border-left: solid 1px #bbb;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #999;
  position: relative;
  box-shadow: 0 0 40px rgba(71, 51, 31, 0.2);
}

/* the left hand side
 * the meat of the content
 */
.post-div-content {
  padding: 0 40px 2px 40px;
  background: white;
  box-shadow: 0 0 30px rgba(71, 51, 31, 0.05);
}


.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

// .post-content {
//   margin-bottom: $spacing-unit;
//   padding: 0 40px 2px 40px;
//   background: white;
//   box-shadow: 0 0 30px rgba(71, 51, 31, 0.05);
//   h2 {
//     @include relative-font-size(2);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.75);
//     }
//   }

//   h3 {
//     @include relative-font-size(1.625);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.375);
//     }
//   }

//   h4 {
//     @include relative-font-size(1.25);

//     @include media-query($on-laptop) {
//       @include relative-font-size(1.125);
//     }
//   }
// }




/**
* My custom content. 
*/
body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0;
}


aside {
  color: #868279;
  padding: 10px 10px;
  background: #faf8f5;
  border: solid 1px #f7f4ed;
  border-bottom: solid 1px #f0e9db;
  border-radius: 3px;
}
aside h2 {
  color: #9e9b94;
  font-size: 24px;
  border: none;
  margin: 20px 0 10px 0;
  padding: 0;
}
aside p, aside li {
  font: 15px/22px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
aside li {
  line-height: 20px;
}
aside > p:first-child {
  margin-top: 0;
}
aside > p:last-child {
  margin-bottom: 0;
}
aside ul, aside ol {
  padding: 0 0 0 18px;
}
aside code {
  color: #666;
  font: normal 13px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
}
aside img {
  padding: 0;
}

aside + aside {
  margin-top: 10px;
}

/* used in default.html */
body {
  color: #222;
  background: #e8e6e3;
  background-image: url("images/background.png");
}

/* Posts */
@media only screen and (min-width: 800px) {
  .post-sidebar {
    padding-right: 300px;
  }

  aside {
    position: absolute;
    width: 240px;
    right: 30px;
    padding: 0;
    background: none;
    border: none;
    padding-left: 22px;
    border-radius: 0;
    border-left: solid 8px #f0e9db;
  }
  aside p, aside li {
    font: 14px/20px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  }
}

/* the big white rectangle centered in middle, but for posts.
 * posts has an aside
 */
 .post-sidebar {
  background: #fbfaf8;
  max-width: 640px;
  margin: 0 auto;
  border-left: solid 1px #bbb;
  border-right: solid 1px #bbb;
  border-bottom: solid 1px #999;
  position: relative;
  box-shadow: 0 0 40px rgba(71, 51, 31, 0.2);
}

/* nav stuff on top of posts */
nav {
  background: #f0f7fa;
  color: #85a0ad;
  margin: 40px -38px 0 -38px;
  padding: 10px 38px;
}
nav table {
  border-collapse: collapse;
  width: 100%;
}
nav td {
  padding: 0;
}
nav td.gap {
  width: 33%;
}
nav.top {
  margin-top: 0;
}
td {
  vertical-align: top;
}
a {
  color: #1481b8;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px rgba(209, 236, 250, 0);
  transition: color 0.2s ease, border-color 0.2s ease;
}

/* header */
h1 {
  font: 200 60px "Source Sans Pro", Georgia, serif;
  padding: 100px 0 4px 0;
  border-bottom: solid 1px #eee;
}
h1.date {
  color: #777;
  font: normal 16px/20px "Source Sans Pro", Georgia, serif;
  padding: 6px 0 30px 0;
  border: none;
}

/* the actual content
 * anything in posts labeled as {{ content }} in a post will be marked with post-content
 * even when you surround {{ content }} in a div with class="post-content"  */
.post-content {
  padding: 0 40px 2px 40px;
  background: white;
  box-shadow: 0 0 30px rgba(71, 51, 31, 0.05);
}
p {
  margin: 15px 0;
}
h2 {
  color: #1481b8;
  margin: 20px 0 15px -38px;
  padding: 0 0 2px 30px;
  border-left: solid 8px #d9eaf2;
}


footer {
  max-width: 640px;
  margin: 20px auto;
  text-align: center;
  color: #aaa;
}
