---
layout: default
---

<!--
  1. organize home page to be similar to my daily entries
	- About
	- Portfolio
	- Entries > Months/Year (would like to display title in addition to day)
	- References
-->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <details>
    <summary>
      Entries
    </summary>

    <div class="content">
      {%- if site.posts.size > 0 -%}

  <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  
      {%- endif -%}
    </div>

  </details>

  <details>
    <summary>
      Projects
    </summary>
    <ul>
      <li>
        Here's the first item
      </li>
      <li>
        And here's the second
      </li>
    </ul>
  </details>

  <details>
    <summary>
      References
    </summary>
    <ul>
      <li>
        CV here
      </li>
      <li>
        Learning materials
      </li>
    </ul>
  </details>

</div>
