---
layout: default
---

<!--
  1. organize home page to be similar to my daily entries
	- About
	- Portfolio
	- Entries > Months/Year (would like to display title in addition to day)
	- References
-->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <details>
    <summary>
      Entries
    </summary>

    <div class="content">
      {%- if site.posts.size > 0 -%}

  <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h6>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h6>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  
      {%- endif -%}
    </div>

  </details>

  <details>
    <summary>
      Projects
    </summary>

    <div class="content">
      {%- if site.projects.size > 0  -%}
      <ul class="post-list">
        {%- assign sorted_projects = site.projects | sort: "rank" -%}
        {%- for project in sorted_projects -%}
        <li>
          <h6>
            <a class="post-link" href="{{ project.url | relative_url }}">
              {{ project.title | escape }}
            </a>
          </h6>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>

  </details>

  <details>
    <summary>
      References
    </summary>

    <div class="content">
      {%- if site.references.size > 0  -%}
      <ul class="post-list">
        {%- assign sorted_references = site.references | sort: "rank" -%}
        {%- for reference in sorted_references -%}
        <li>
          <h6>
            <a class="post-link" href="{{ reference.url | relative_url }}">
              {{ reference.title | escape }}
            </a>
          </h6>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>

  </details>

</div>
