---
layout: default
---

<!--
  1. organize home page to be similar to my daily entries
	- About
	- Portfolio
	- Entries > Months/Year (would like to display title in addition to day)
	- References
-->

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <details>
    <summary>
      Chirps
      <span class="post-meta">
        Thoughts like blue bird
      </span>
    </summary>

    <div class="content">
      {%- if site.chirps.size > 0 -%}

  <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
      <ul class="post-list">
        {%- assign sorted_chirps = site.chirps | sort: "date" | reverse -%}
        {%- for chirp in sorted_chirps -%}
        <li class="dated-li">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h6>
            <a class="chirp-link" href="{{ chirp.url | relative_url }}">
              {{ chirp.date | date: date_format }}: {{ chirp.title | escape }}
            </a>
          </h6>
          {%- if site.show_excerpts -%}
            {{ chirp.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
  
      {%- endif -%}
    </div>

  </details>

  <details>
    <summary>
      Problems
      <span class="post-meta">
        Includes personal solutions
      </span>
    </summary>
    
    <div class="content">
      {%- if site.problems.size > 0  -%}
      <ul class="post-list">
        {%- assign sorted_problems = site.problems | sort: "date" | reverse -%}
        {%- for problem in sorted_problems -%}
        <li class="dated-li">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <h6>
            <a class="post-link" href="{{ problem.url | relative_url }}">
              {{ problem.date | date: date_format }}: {{ problem.title | escape }}
            </a>
          </h6>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
  </details>

  <details>
    <summary>
      Projects
      <span class="post-meta">
        Here to show off some skills!
      </span>
    </summary>

    <div class="content">
      {%- if site.projects.size > 0  -%}
      <ul class="post-list">
        {%- assign sorted_projects = site.projects | sort: "rank" -%}
        {%- for project in sorted_projects -%}
        <li>
          <h6>
            <a class="post-link" href="{{ project.url | relative_url }}">
              {{ project.title | escape }}
            </a>
          </h6>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>

  </details>

  <details>
    <summary>
      References
      <span class="post-meta">
        For others (and myself) to use
      </span>
    </summary>

    <div class="content">
      {%- if site.references.size > 0  -%}
      <ul class="post-list">
        {%- assign sorted_references = site.references | sort: "rank" -%}
        {%- for reference in sorted_references -%}
        <li>
          <h6>
            <a class="post-link" href="{{ reference.url | relative_url }}">
              {{ reference.title | escape }}
            </a>
          </h6>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>

  </details>

</div>
