---
layout: default
---

<div class="post-sidebar">
  <div class="post-content">
    <!-- home page at top, then header for title, with date along the bottom. finally content -->

    <!-- home page and posts/content nav at top-->
    <nav class="top">
      <table>
        <tbody>

          <tr>
            <!--Home-->
            <td>
              ⌂
              <a href="/">
                Home
              </a>
            </td>
            <td class="gap"> </td>
            <!--Posts/Table of contents-->
            <td>
              § 
              <a href="/">Posts</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </nav>

    <!-- header for title and date along the bottom -->
    <h1>{{ page.title | escape }}</h1>
    <h1 class="date">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </h1>

    <!-- the actual content now. need to figure out how get excerpts though -->
    {{ content }}

    <!-- nav at the bottom -->
    <nav>
      <table>
        <tbody>

          <tr>
            <!--Home-->
            <td>
              ⌂
              <a href="/">
                Home
              </a>
            </td>
            <td class="gap"> </td>
            <!--Posts/Table of contents-->
            <td>
              § 
              <a href="/">Posts</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </nav>
  </div>
</div>






<!-- 
<body id="top" class="post-body">

  <div class="post-div-main"> class names can be found in the _layouts.scss file, located in _sass > minima

    
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </header>
    <div class="post-content"> {{ content }} </div>


  </div>


</body> -->

<!--
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <!-- h-entry is an example of microformats. effectively does nothing, but apply semantic meaning for other devs->

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
-->
